h1{
    text-align: center;
}
p{
    text-align: center;
}
.contact-form__input{
    color: rgb(235, 14, 14);
}
div{
    margin-left: 45%;
    margin-right: 60%;
}
body{
    background-color: rgb(59, 247, 247);
}