h1{
    text-align: center;
    font-size: 4em;
}
.div{
    border: 2px solid black;
    text-align: center;
    margin: 23px;
}
.caja1,.caja2,.caja3,.caja4{
    border: 3px solid black;
    height: 450px;
    width: 450px;
    margin: 35px auto;
}
.caja1{
    position: static;
    background-color: aqua;
    text-align: center;
    padding-top: 14em;
}
.caja2{
    position: relative;
    left: 45px;
    background-color: antiquewhite;
    text-align: center;
    padding-top: 14em;
}
.caja3{
    position: fixed;
    bottom:  65px;
    left: 39em;
    background-color: rgb(175, 103, 241);
}
.caja4{
    position: sticky;
    background-color: blanchedalmond;
    opacity: 65%;
    bottom:  29em;
    left: 28em;
}

body{
    background-color: rgb(103, 221, 182);
}